//media things

@media (min-width: 960px) {
  .uk-section {
    padding-top: @global-large-margin;
    padding-bottom: @global-large-margin;
  }

  .tm-section-first {
    padding: 30px 0 50px;
  }
}

@media (min-width: 640px) {
  .uk-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 960px) {
  .uk-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}