//media things

@media (min-width: 960px) {
  .uk-section {
    padding-top: @global-large-margin;
    padding-bottom: @global-large-margin;
  }

  .tm-section-first {
    padding: 30px 0 50px;
  }
}

@media (min-width: 640px) {
  .uk-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 960px) {
  .uk-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

//max
@media (max-width: 1199px) {
  .uk-navbar-nav > li > a {
    font-size: 12px;
  }

  h1 {
    font-size: 33px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  .tm-sidemain {
    width: 100%;
  }

  .tm-sidebar {
    display: none;
    position: fixed;
    top: 70px;
    bottom: 0;
    right: 0;
    z-index: 5500;
    overflow-y: auto;
    overflow-x: hidden;

    .tm-popover {
      left: 0!important;
    }

    &.uk-active {
      display: block;
    }

    .sidebar-close-outer {
      position: fixed;
      top: 75px;
      right: 280px;
      font-size: 36px;
      color: @global-inverse-color;
      display: block;
    }
  }

  .tm-sidebar-toggle {
    display: block;
  }

  .tm-sidebar-toggle-tour {
    display: flex;
  }

  .tm-content-options {
    flex-wrap: wrap;
  }

  .tm-controlled-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .tm-content-panel {
      max-width: 30%;
      flex-wrap: wrap;
      height: auto;

      > div {
        width: 100%;
      }

      .tm-panel-image-wrapper {
        width: 100%;
        height: auto;

        img {
          width: 100%;
        }
      }

      .tm-panel-details {
        width: 100%;
      }
    }
  }

  .tm-badge.tm-badge-small {
    position: static;
  }

  .tm-section-sided::before {
    display: none;
  }

  .tm-footer-tour {
    padding-bottom: 80px;
  }
}

@media (max-width: 959px) {

  .uk-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .uk-navbar {
    flex-wrap: wrap;
  }

  .uk-navbar-right {
    width: 100%;
    margin: 0;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .uk-navbar-left {
    width: 100%;
    justify-content: space-between;
  }

  .uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
    min-height: 40px;
  }

  .tm-header-top-nav {

    .uk-navbar-nav > li > a, .uk-navbar-nav > li:first-child > a {
      border: none;
    }
  }

  .tm-header-bottom-nav {
    display: none;
  }

  .uk-navbar-toggle {
    flex-direction: column;
    color: @global-color;
    padding-top: 8px;
    font-size: 12px;

    svg {
      width: 41px;
    }
  }

  .uk-button-small {
    padding: 0 15px;
  }

  .tm-column-panels > div {
    margin-bottom: 30px;
  }

  .tm-promobox {
    padding: 30px 15px;
  }

  .tm-navigator-item::before, .tm-gallery-item::before {
    content: "";
    padding-top: 100%;
    display: block;
  }

  .uk-card {
    max-width: 350px;
    margin: auto;
  }

  .tm-footer-adapitive {
    > div {
      margin: 0 auto 15px;
    }
  }

  .tm-top-search .tm-top-search-caption, .tm-top-slider .tm-top-slider-caption {
    font-size: 35px;
  }

  .tm-select .tm-select-pseudo-items.what {
    width: 500px;
    max-height: 320px;
  }

  .tm-what-tour > div {
    max-width: 50%;
  }

  .tm-controlled-content {

    .tm-content-panel {
      max-width: 48%;
      width: auto;
    }
  }

  .tm-form-expert {
    flex-wrap: wrap;

    >div:first-child {
      margin-bottom: 15px;
    }
  }

  .tm-header-fixed .uk-navbar-item, .tm-header-fixed .uk-navbar-nav > li > a, .tm-header-fixed .uk-navbar-toggle {
    min-height: 30px;
  }

  .tm-header-fixed {
    height: auto;

    .uk-navbar-left {
      width: auto;
    }

    .uk-navbar-right {
      width: auto;
      margin-left: auto;
    }
    
    >div:last-child {
      background-color: #fafafa;
    }
  }

  .tm-header-top-nav {
    display: none;
  }

  .tm-mobile-header.top-visible {
    top: 0;
    opacity: 1;
  }

  .tm-lk-tabs {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
  }

  .tm-order-personal {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
  }

  .uk-tab {
    //flex-direction: column;
  }
}

@media (max-width: 639px) {

  .uk-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .tm-header-top-nav {
    .uk-navbar-nav {
      flex-wrap: wrap;
    }

    .uk-navbar-nav > li > a::after {
      display: none;
    }
  }

  .uk-navbar-right {
    justify-content: flex-start;
  }

  .tm-top-search-panel {
    margin-bottom: 15px;

    > div {
      width: 100%;
      margin-right: 0 !important;
    }

    .tm-select .tm-select-pseudo {
      margin-right: 0;
      width: 100%;
    }

    select {
      width: 100%;
      margin-right: 0;
    }

    .uk-button {
      width: 100%;
    }
  }

  .tm-section-solid, .tm-section-footer {
    min-height: 380px;
  }

  .uk-breadcrumb > * > * {
    font-size: 10px;
  }

  .tm-breadcrumb-legend {
    font-size: 10px;
  }

  .tm-links-slider-controls {
    display: flex;
  }

  .js-slider-mobile-links h6 {
    display: none;
  }

  .uk-card {
    margin: 0 auto;
  }

  .tm-select .tm-select-pseudo-items.what {
    width: 100%;
    padding: 15px 0;
    max-height: 545px;
  }

  .tm-select .tm-select-pseudo-items .tm-what-tour {
    flex-wrap: wrap;
  }

  .tm-what-tour > div {
    max-width: 100%;
    width: 100%;

    &:first-child {
      margin-bottom: 15px;
    }
  }

  .tm-controlled-content {

    .tm-content-panel {
      max-width: 100%;
    }
  }

  .tm-popover {
    width: 260px;
    min-width: 260px;
  }

  .tm-sidemain .tm-tour-features {

    .uk-grid-medium>.uk-grid-margin {
      margin: 0;
    }

    >div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .tm-tour-feature {
      width: 50%;
    }
  }

  .tm-accomodation-item {
    flex-wrap: wrap;

    >div:first-child {
      margin-bottom: 15px;
    }
  }

  .tm-feedback-filter {
    display: inline-flex;
    flex-direction: column;

    >li {
      display: inline-block;
      margin-right: auto;
    }
  }

  .tm-contact-expert .tm-caption {
    font-size: 48px;
  }

  .tm-sidemain .tm-content-switch {
    display: none;
  }

  .tm-content-switch-mobile {
    display: inline-block;
  }

  .tm-modal-dates .tm-content-switch {
    //display: none;
  }

  .tm-modal-dates .tm-content-item .tm-dates-dates span {
    font-size: inherit;
  }

  .tm-modal-dates .tm-dates-content {
    max-height: 200px;
  }

  .tm-lk-tabs {
    width: 100%;
    border-left: 1px solid #cccccc;

    .uk-tab {
      flex-direction: column;
    }

    .uk-tab::before {
      display: none;
    }

    .uk-switcher {
      padding-left: 15px;
    }
  }

  .tm-order-personal {
    width: 100%;
  }

  .tm-order-header {
    flex-wrap: wrap;
  }

  .tm-order-image-wrapper {
    margin: auto;
    margin-bottom: 15px;
  }

}

@media(max-width: 424px) {
  .uk-logo {
    flex-direction: column;
  }

  .tm-select .tm-select-pseudo-items {
    max-width: 100%;
  }

  .tm-select .tm-select-pseudo-items .tm-drop-header {
    margin-bottom: 0;
  }

  .tm-tours-active.uk-margin-small-bottom {
    margin-bottom: 0 !important;
  }

  .tm-top-search .tm-top-search-caption, .tm-top-slider .tm-top-slider-caption {
    font-size: 26px;
  }

  .tm-breadcrumb-legend {
    white-space: nowrap;
  }

  .tm-mobile-header, .tm-header-fixed {
    padding-bottom: 4px;
  }

  .tm-mobile-header .uk-navbar-left, .tm-header-fixed .uk-navbar-left {
    flex-direction: column;
    align-items: start;

    .uk-navbar-item {
      min-height: 30px;
    }
  }

  .tm-navigator .tm-icon-image-wrapper {
    margin: 0 auto 4px;
  }

  .tm-navigator .tm-navigator-item .tm-navigator-item-inner {
    font-size: 12px;
    padding: 8px;
  }

  .tm-navigator .tm-navigator-item.tm-navigator-main .tm-navigator-item-inner {
    font-size: 26px;
  }

  .tm-links-slider-content {
    margin-bottom: 8px;

    .tm-ulist {
      padding-left: 20px;
      list-style: none;
      margin: 0;
    }
  }

  .uk-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .tm-sidebar-toggle-tour .price {
    font-size: 26px;
  }

  .tm-sidebar-toggle-tour {
    font-size: 10px;
  }

  .tm-tour-alike {
    h4{
      font-size: 16px;
    }
  }

  .tm-contact-expert {
    padding: 15px;
  }

  .tm-contact-expert .tm-caption {
    font-size: 36px;
  }

  .tm-contact-expert .uk-button {
    font-size: 19px;
    padding: 0 15px;
  }

  .tm-adittional-items .tm-tour-additional-item {
    flex-direction: column;
  }

  .tm-adittional-items .tm-tour-additional-item .tm-image-wrapper {
    margin: 0 auto 8px;
  }

  .tm-header-fixed {
    .uk-navbar-nav > li > a {
      padding: 0 4px;
    }
  }

  .uk-modal-title {
    font-size: 14px;
  }

  .tm-modal-seen .tm-tour-item {
    font-size: 14px;
  }

  .tm-modal-body-top {
    flex-wrap: wrap;
  }

  .tm-content-options {
    >div {
      flex-wrap: wrap;
    }
  }

  .tm-content-item {
    flex-wrap: wrap;

    >div {
      width: 100% !important;
      margin-bottom: 8px;
    }

    .uk-button {
      width: 100%;
    }
  }

  .tm-content-item .tm-adaptive-micromobile {
    //align-items: center;

    //>div {
    //  width: 100% !important;
    //  margin-bottom: 8px;
    //}
  }

  .tm-apartments .tm-apts {
    flex-wrap: wrap;
  }
}